@import "../../css-config/mixins.scss";
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    height: calc(100vh - 50px);

    @include md {
        height: calc(100vh - 80px);
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}

.contact-form label {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: darkgreen;
}
